### Typically *NIX text editors, by default, append '~' to files on saving to make backups
*~

### Archives
*.tar.gz
*.tar.bz2

### Eclipse
.settings/
.classpath
.metadata
.project
.springBeans

### Gradle
.gradle

### Java
*.class

### Maven
target/

### NetBeans
bin/
build/
dist/
nbproject/
.nbattrs
nb-configuration.xml
nbactions.xml
nbactions-*.xml

### Windows
.DS_Store?
Desktop.ini
Icon?
Thumbs.db
ehthumbs.db

### Miscellaneous
*.bak
*.log
*.raw*
*.swp
*.tmp
.clover
_raw/
classes/
lib/
database.properties
springnet-custom.properties

### Exclude
!/non-project/*
!/non-project/*/*
!/non-project/*/*/*
!/non-project/*/*/*/*
!/non-project/*/*/*/*/*
