### Typically *NIX text editors, by default, append '~' to files on saving to make backups
*~

### Gradle work directory
.gradle

### Build output directories
bin
build
target

### Eclipse specific files/directories
.classpath
.metadata
.project
.settings
.springBeans

### NetBeans specific files/directories
.nbattrs

### Miscellaneous
*.log
*.tar.bz2
.clover
/net.lilylnx.springnet/web/WEB-INF/classes
/net.lilylnx.springnet/src/main/resources/spring-config/spring-custom.properties
