### Typically *NIX text editors, by default, append '~' to files on saving to make backups
*~

### Gradle work directory
.gradle

### Build output directories
bin
build
dist
target

### Eclipse specific files/directories
.classpath
.metadata
.project
.settings
.springBeans

### NetBeans specific files/directories
.nbattrs
nb-configuration.xml
nbactions-my-config.xml
nbproject

### Miscellaneous
*.log
*.tar.bz2
.clover
/net.lilylnx.springnet/web/WEB-INF/classes
/net.lilylnx.springnet/web/WEB-INF/lib
/net.lilylnx.springnet/database.properties
/net.lilylnx.springnet/src/main/resources/META-INF/database.properties
/net.lilylnx.springnet/src/main/resources/META-INF/database.properties.bak
/net.lilylnx.springnet/src/main/resources/META-INF/springnet-custom.properties
!/copy-to-project/*