@charset "UTF-8";
/*
 * FREE FOR ALL BUT DOES NOT MEAN THERE IS NO PRICE.
 *
 * @author Tien Nguyen
 * @version $Id: common.css,v 1.0 2010/10/03 21:14:25 lilylnx Exp $
 */

@font-face {
  font-family: 'MetaBold';
  src: url('images/fonts/MetaWebPro-Bold.eot');
  src: local('☺'), url('images/fonts/MetaWebPro-Bold.woff') format('woff');
  font-weight: bold;
}

*|*:-moz-any-link:focus {
  outline: none;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  padding: 1px 2px;
  border: 1px none;
}

input[type="button"],
input[type="submit"],
input[type="image"], label {
  cursor: default;
}

img, div {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 13px;
  font-weight: bold;
}

h1 {
  font-size: 17px;
}

h6 {
  font-size: 11px;
}

pre, code {
  font-family: monaco, 'dejavu sans mono', 'bitstream vera sans mono', 'courier new', monospace;
}

p {
  margin-bottom: .85em;
}

strong {
  color: #222;
}

a, a:visited, a:hover {
  color: #0066A7 /*#3B5998*/;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html, body {
  overflow: hidden;
}

html {
  overflow-x: auto;
  overflow-y: scroll;
}

body {
  height: 100%;
  background-color: #fff;
  color: #333;
  font: normal 13px Arial, sans-serif;
  visibility: visible;
}

.clear, .section {
  clear: both;
  display: block;
  overflow: hidden;
}

.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.hidden {
  display: none;
}

.nobullets {
  list-style: none;
}

ol.nobullets, ul.nobullets {
  padding-left: 0;
}

.w100 {
  width: 100%;
}

.gg-popup-msg {
  padding: 8px 100px 8px 0;
  color: #222;
}