.g-f {
  margin: 20px;
}

.box .row {
  margin-bottom: 12px;
}

.box .row strong {
  display: inline-block;
  vertical-align: baseline;
  margin-top: 4px;
  width: 90px;
  font-weight: bold;
}

.box .row input[type=text], .box .row input[type=password] {
  margin-right: 10px;
}