body.gg-admin {
  min-width: 785px;
}

#globalTop {
  position: relative;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
}

#globalTop.fixed_elem {
  top: 0;
  left: 0;
}

#ggadminbar {
  height: 28px;
  background-color: #2d2d2d;
  border-bottom: 1px solid #000;
}

#ggadminbar .selected {
  color: #fff;
  font-weight: bold;
}

#ggaction {
  padding: 12px 44px 12px 60px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  background-color: #fbfbfb;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.3);  
}

#ggaction .one {
  color: #dd4b39;
}

#ggshadow, #ggshadow div {
  height: 8px;
}

#ggshadow {
  position: absolute;
  bottom: -9px;
  right: 0;
  left: 0;
  z-index: 999;
}

#ggshadow div {
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(0, 0, 0, 0.2)),to(transparent));
  -webkit-mask-box-image: -webkit-gradient(linear,left top,right top,color-stop(0,rgba(0,0,0,0)),color-stop(0.5,rgba(0,0,0,0.8)),color-stop(1,rgba(0,0,0,0)));
}

#globalContainer {
  position: relative;
  height: auto;
  width: 100%;
  min-height: 100%;
}

/*========== Index Page & Login Page === */

#blueBar {
  padding: .6em 2em .4em;
  color: #fff;
  background-color: #22437f;
  border-bottom: 2px solid #111;
}

#blueBar #companyName {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

#companyName sup {
  margin-right: 10px;
  font-size: 18px;
  vertical-align: 9px;
}

#companyName span {
  font-family: MetaBold, Arial, sans-serif;
  font-weight: bold;
}

#pagelet_signin { 
  margin: 70px auto 20px;
  width: 330px;
}

#signin-box {
  padding: 20px 40px 30px;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

#signin-box h2 {
  position: relative;
  margin: 0 0 1.2em;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  font-weight: normal;
}

#signin-box label {
  display: block;
  margin: 0 0 1.5em;
  height: 66px;
}

#signin-box .id-label, #signin-box .passwd-label {
  display: block;
  margin: 0 0 .5em;
  font-weight: bold;
}

#signin-box .g-t {
  padding: 5px 8px;
  width: 100%;
  height: 32px;
  font-size: 15px;
}

#signin-box .g-b {
  font-size: 12px;
}

#signin-box #info {
  min-width: 12px;
}

#signin-box span.error {
  display: block;
  margin-top: 3px;
  font-size: 12px;
}

/*========== ADMINMENU ===*/

#adminmenuback, #adminmenuwrap {
  padding-left: 44px;
  width: 176px;
  background-color: #fff /*#ececec*/;
  border-right: 1px solid #ddd;
}

#adminmenuback {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#adminmenuwrap {
  position: relative;
  float: left;
  margin-top: 100px;
}

#adminmenushadow, #adminmenuback {
  background-image: url(images/menu-shadow.png);
  background-position: top right;
  background-repeat: repeat-y;
}

#adminmenushadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 6px;
  z-index: 20;
}

#adminmenu * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

#adminmenu a, #gghead a {
  text-decoration: none;
}

#adminmenu a {
  display: block;
  padding: 5px;
  line-height: 20px;
  color: #666;
}

#adminmenu li {
  cursor: pointer;
}

#adminmenu li.gg-menu-top {
  position: relative;
  min-height: 26px;
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0 1px 1px;
}

#adminmenu li.gg-menu-top.current {
  border-color: #eee;
}

#adminmenu li.gg-menu-top.current a.current {
  color: #dd4b39;
  font-weight: bold;
}
#adminmenu li.gg-menu-top.current a.gg-menu-top.current {
  background-color: #f5f5f5;
}
#adminmenu li.gg-menu-top.current .gg-menu-arrow {
  display: block;
  position: absolute;
  top: 0;
  right: -9px;
  z-index: 25;
  background-color: #f5f5f5;
}

#adminmenu li.gg-menu-open .gg-submenu {
  display: block;
}

#adminmenu li.gg-menu-open a {
  color: #333;
}

#adminmenu li.gg-menu-open a.gg-menu-top {
  font-weight: bold;
}

#adminmenu .gg-menu-arrow {
  display: none;
}

#adminmenu .gg-menu-arrow div {
  width: 15px;
  height: 30px;
  background: url(images/menu-arrow-frame.png) no-repeat top right;
}

#adminmenu .gg-menu-toggle {
  float: right;
  width: 24px;
  height: 30px;
  cursor: pointer;
}

#adminmenu a.gg-menu-top {
  padding-left: 44px;
}

#adminmenu a.gg-menu-top:hover, #adminmenu .gg-submenu a:hover {
  background-color: #fbfbfb;
}

#adminmenu a.gg-menu-image {
  background-position: 16px 4px;
  background-repeat: no-repeat;
}

#adminmenu .menu-icon-dashboard a.gg-menu-image {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABEElEQVR42t2UzQmDQBCFU0JKSQleREXRiKIiKot/daQTS0gJW4KlWMJknrAH0SS7OQUXBoR98znOvPFyOcVxHGfyPG+2LOvquq4VhiHleU6+75MxjJOmqqqoaRpKkmS+88HzOI4rVBuEariSGcl939MwDNS2LQkhqOs6MyBgXMiMZICQfBRaQF2YFtAEhkBvbdu+HcJwEcexNgyBnmZZtvDkxQ7GlS1qADowBLQoIE1T2kDZZ0+2h2RbyLquFx0oNNAiJwgCyQx5+OkQKFt8Cmig/TrlKIokeqOqQBuKolgDQ1AvgwZaIyD6w719qDusndqSn4BIZsgGWJbl2YAYP3yFtWKj74Dq1wXNW6v89XkB6E5tY/X2XroAAAAASUVORK5CYII=);
}

#adminmenu .menu-icon-complaint a.gg-menu-image {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAT0lEQVR42mNgoBdIS0v7jw9D1exMTU1NoKaB/4k2lAQDwYZSxUCiDSHGQKIsoIuBeHzTMDhcSHMvo3t1BHgZn54h7mW6lIFkFw5UM5AaAACyqLNEs75CTgAAAABJRU5ErkJggg==);
}

#adminmenu .menu-icon-assignment a.gg-menu-image {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAQElEQVR42mNgoBdIS0v7TwwmycCMjAwHYiykuoFEGUoVA5ElCRmIrm/UwFEDR66BpGCCBtK1DCSpyKJ6wUopAADjPfKfKTVPaQAAAABJRU5ErkJggg==);
}

#adminmenu .menu-icon-equipment a.gg-menu-image {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAg0lEQVR42mNgoAVIS0vrT01N3U8mTsBm4H8K8H1qG/gf5NL09PT5VDMQhqll4HsgXoNu4HsKDJyLYSAVUgnxBgID3ACouAEPLgbiE0QbCFS4nuRIIWDgeaiGYmDSsExJSTEG0chsEA30iTZBwzIyMhzwJmBSAZqB/0cNHAEG3mcYCAAAu81dWVo+ZUoAAAAASUVORK5CYII=);
}

#adminmenu .menu-icon-user a.gg-menu-image {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAZ0lEQVR42mNgGDIgNTXVIC0t7T4Q/ycD3wfpRzGQAsPghqIb+J9SPGrgqIGUGghM6fspMQykH8XAhIQEgfT09PlAyfekGgbSB9JPUl6HWobbi+QAoCEFVDUQGtYJsGChdlH3nmFIAgDgbdXUjyjrAQAAAABJRU5ErkJggg==);
}

#adminmenu .menu-icon-credit a.gg-menu-image {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABBUlEQVR42u1UWw3DMAw0hEEYhEEYhEHITx+fgVAGgTAIhVAIhVAIgbDV0Vm6bmnabvucJUuJY5/PjhNp2/bKWtf146B6jhc1VlU1mBYC44p9pNiYAIVkJWhqmuaeO0usIApqDC8bgEF9tgA1sYCqZ6OVaH1xzp30zPbcGiMz28+p2tngEjLRJufBwChhYIZmR0t60QCw6hDgX8rqKNmi7NQzMF+UD8eY6xX2miQgeaQzh7Ooa67EQEcERBqVnm8bPrxXn5usCYBDYe6Sas/eWJUEwFNuwA8BsaBnntgGHQ/5VmyU5FfyB/xM9DbxEjoaH117/p32Ag07fuqp+EJyv80efZ3LJ9nbrCAYaSQ3AAAAAElFTkSuQmCC);
}

#adminmenu .gg-submenu {
  position: relative;
  display: none;
  z-index: 2;
}

#adminmenu .gg-submenu a {
  padding-left: 44px;
  font-size: 12px;
}

#adminmenu .gg-submenu ul {
  background-color: #fff;
}

#adminmenu .gg-submenu-head {
  display: none;
}

#adminmenu .gg-has-submenu:hover .gg-menu-toggle,
#adminmenu .gg-menu-open .gg-menu-toggle {
  background-image: url(images/arrows.png);
  background-position: 5px 6px;
  background-repeat:  no-repeat;
}

#adminmenu .gg-has-submenu:hover .gg-menu-toggle:hover {
  background-image: url(images/arrows-dark.png);
}

/*========== CONTENT ===*/

#ggcontent, #ggfooter {
  margin-left: 250px;
}

#ggcontent {
  padding-top: 91px;
  height: 100%;
}

#gghead, #ggfooter {
  margin-right: 20px;
}

#gghead {
  display: none;
  margin-left: 2px;
  height: 32px;
  border-bottom: 1px solid #dfdfdf;
}

#gghead .site-heading {
  padding: 6px 0 5px;
  font-family: Georgia, Times New Roman, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

#ggbody {
}

#ggbody-content {
  overflow: hidden;
  padding-bottom: 100px;
}

#ggfooter {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  color: #777;
  font-size: 11px;
  border-top: 1px solid #dfdfdf;
}

#ggfooter a {
  text-decoration: none;
  color: #a3756e;
}

#ggfooter a:hover, #ggfooter a:active {
  color: #7d4a42;
}

#ggfooter .copyright {
  text-transform: uppercase;
}