#globalContainer {
  position: relative;
  height: auto;
  width: 100%;
  min-height: 100%;
}

#blueBar {
  padding: .6em 2em .4em;
  color: #fff;
  background-color: #22437f;
  border-bottom: 2px solid #111;
}

#blueBar #companyName {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

#companyName sup {
  margin-right: 10px;
  font-size: 18px;
  vertical-align: 9px;
}

#companyName span {
  font-family: MetaBold, Arial, sans-serif;
  font-weight: bold;
}

#signin_pagelet { 
  margin: 70px auto 20px;
  width: 330px;
}

#signin-box {
  padding: 20px 40px 30px;
  font-size: 13px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

#signin-box h2 {
  position: relative;
  margin: 0 0 1.2em;
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  font-weight: normal;
}

#signin-box label {
  display: block;
  margin: 0 0 1.5em;
  height: 66px;
}

#signin-box .id-label, #signin-box .passwd-label {
  display: block;
  margin: 0 0 .5em;
  font-weight: bold;
}

#signin-box .g-t {
  padding: 5px 8px;
  width: 100%;
  height: 32px;
  font-size: 15px;
}

#signin-box .g-b-b {
  font-size: 13px;
}

#signin-box span.error {
  display: block;
  margin-top: 3px;
  font-size: 12px;
}

